<fieldset style="margin-left: 100px">
  <legend style="color: black;">Registration</legend>
  <form name='regForm' novalidate style="color: black">

    <input style="color: black;" type="text" name="username" placeholder="First Name"
           ng-model="signUp.username"
           required
           minlength="1"
           ng-maxlength="10">
    <br>
    <input style="color: black;" type="text" name="last" placeholder="Last Name"
           ng-model="signUp.last"
           required>
    <br>
    <input type="email" name="email" placeholder="Email"
           ng-model="reg.user.email"
           required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
    <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
           ng-model="reg.user.phone"
           pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
    <br>
    <input type="text" name="favorite" placeholder="Favorite menu item"
           ng-model="signUp.favorite"
           required
          >
    <br>


    <button
            ng-disabled="regForm.$invalid"
            ng-click="signUp.submit()">Submit</button>



    <div style="margin-top: 10px;">

    </div>
  </form>
  <new-reg ng-if="signUp.success" username="signUp.username"></new-reg>
  <div ng-if="signUp.error">No such menu number exists.</div>
</fieldset>