<fieldset style="margin-left: 100px">
  <legend style="color: black;">Registration</legend>
  <form name='regForm' novalidate style="color: black">

    <input style="color: black;" type="text" name="username" placeholder="Pick a username"
           ng-model="signUp.username"
           required
           minlength="0"
           ng-maxlength="100">
          <span
                  ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
            Username must be at least 4 characters long
          </span>
          <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
            Username must not be longer than 10 characters
          </span>
    <br>

    <input type="text" name="favorite" placeholder="Favorite menu item"
           ng-model="signUp.favorite"
           required
          >
    <br>

    <button
            ng-disabled="regForm.$invalid"
            ng-click="signUp.submit()">Submit</button>



    <div style="margin-top: 10px;">

    </div>
  </form>
  <new-reg ng-if="signUp.success" username="signUp.username"></new-reg>
  <div ng-if="signUp.error">No such menu number exists.</div>
</fieldset>